/* @import "compass/css3";
@import "compass/reset";
@import "compass/css3"; */

/* Colors */
/* ---------------------------------------- */
body {
    text-align: center;
    font-family: 'Lato', 'sans-serif';
    font-weight: 400;
}
label.logo {

    line-height: 80px;
    font-size: 35px;
    padding: 0 100px;
    font-weight: bold;
}
a {
    text-decoration: none;
}

.info-text {
    text-align: left;
    width: 100%;
}

form {
    padding: 4em 10%;
}

.form-group {
    margin-bottom: 20px;
}

h2.heading {
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 300;
    text-align: left;
    color: #506982;
    border-bottom: 1px solid #506982;
    padding-bottom: 3px;

}

.controls {
    text-align: left;
    position: relative;
}

input[type="text"],
input[type="email"],
input[type="number"],
input[type="date"],
input[type="tel"],
textarea,
button,
select {
    padding: 12px;
    font-size: 14px;
    border: 1px solid #c6c6c6;
    width: 100%;
    margin-bottom: 18px;
    color: #888;
    font-family: 'Lato', 'sans-serif';
    font-size: 16px;
    font-weight: 300;
    border-radius: 2px;
    transition: all .3s;

    &:focus,
    &:hover {
        outline: none;
        border-color: #9FB1C1;

        +label {
            color: #568d96;
            cursor: text;
        }
    }
}

.fa-sort {
    position: absolute;
    right: 10px;
    top: 17px;
    color: #999;
}

select {
    appearance: none;
    cursor: pointer;
}

label {
    position: absolute;
    left: 8px;
    top: 12px;
    width: 60%;
    color: #999;
    font-size: 16px;
    display: inline-block;
    padding: 4px 10px;
    font-weight: 400;
    background-color: rgba(255, 255, 255, 0);
    transition: color .3s, top .3s, background-color .8s;
    background-color: rgba(255, 255, 255, 1);

    &.active {
        top: -11px;
        color: #555;
        background-color: rgba(255, 255, 255, 1);
        width: auto;
    }
}

#idcomments {
    resize: none;
    height: 200px;
}

button {
    cursor: pointer;
    background: linear-gradient(122deg, #e4c1ad 0%, #568d96 25%, #010134cc 100%);
    border: none;
    color: #fff;
    padding: 12px 0;
    float: right;

    &:hover {
        background-color: #234059;
    }
}

h1 {
    display: inline;
    float: left;
}

.clear:after {
    content: "";
    display: table;
    clear: both;
}

.grid {
    background: white;

    &:after {
        content: "";
        display: table;
        clear: both;
    }
}

.flex-container {
    display: flex;
    justify-content: space-between;
}

[class*='col-'] {
    float: left;
    padding-right: 10px;

    &:last-of-type {
        padding-right: 0;
    }
}

.col-2-3 {
    width: 66.66%;
}

.col-1-3 {
    width: 33.33%;
}

.col-1-4 {
    width: 25%;
}

header {
    height: 140px;
}

@media (max-width: 760px) {

    .col-1-4-sm,
    .col-1-3,
    .col-2-3 {
        width: 100%;
    }

    [class*='col-'] {
        padding-right: 0px;
    }
}


.col-1-8 {
    width: 12.5%;
}


@media (max-width: 768px) {
    .checkbtn {
        display: block;
        cursor: pointer;
    }

    #check {
        display: none;
    }


    #check:checked+.checkbtn {
        left: 0;
    }

    .logo {
        font-size: 1.5rem;
    }
}

.btnchoisie button {
    display: flex;
    color: #fff;
    margin-left: 10px;
    padding: 15px;
    border-radius: 10px;
    background: linear-gradient(122deg, #e4c1ad 0%, #568d96 25%, #010134cc 100%);
}

.btnchoisie {
    position: absolute;
    top: 10%;
    right: 10%;
    margin-bottom: 20px;
    display: flex;
    padding-left: 15px;
}

#ajouter {
    display: block;
}

#supprimer,
#modifier {
    display: none;
}

h1 {
    text-align: center;
    color: #506982;
    margin: 97px;
}

@media (max-width :400px) {
    .btnchoisie {
        top: 19%;
    }

}

@media (min-width :400px) and (max-width:520px) {
    .btnchoisie {
        top: 12%;
    }
}
