/*
*
* ==========================================
* CUSTOM UTIL CLASSES
* ==========================================
*
*/

.vertical-nav {
	min-width: 28rem;
	width: 19rem;
	/* height: 100vh; */
	position: fixed;
	/* top: 0; */
	right: 0;
	box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.1);
	transition: all 0.4s;
  padding: 10px;
  display: none;
}
bg-white {
  background-color: #fff !important;
  background: linear-gradient(122deg, rgb(228, 193, 173) 0%, rgb(86, 141, 150) 25%, rgba(1, 1, 52, 0.8) 100%);
    background-color: rgba(0, 0, 0, 0);
}

.page-content {
	/* width: calc(100% - 17rem);
	margin-right: 17rem; */
	transition: all 0.4s;
}

/* for toggle behavior */

#sidebar.active {
	margin-right: -28rem;
}

#content.active {
	width: 100%;
	margin: 0;
}

@media (max-width: 768px) {
	#sidebar {
		margin-right: -28rem;
        z-index: 10;
	}
	#sidebar.active {
		margin-right: 0;
	}
	/* #content {
		width: 100%;
		margin: 0;
	}
	#content.active {
		margin-right: 17rem;
		width: calc(100% - 17rem);
	} */
}

/*
*
* ==========================================
* FOR DEMO PURPOSE
* ==========================================
*
*/



.separator {
	margin: 3rem 0;
	border-bottom: 1px dashed #fff;
}

.text-uppercase {
	letter-spacing: 0.1em;
}

.text-gray {
	color: #aaa;
}

#btncmnt{
    margin-bottom: -18px;
    position: fixed;
    bottom: 20%;
    right: 0;
    height: 36px;
    width: 34px;
    z-index: 102;
    cursor: pointer;
    transform: rotate(-90deg);
}
@import url(https://fonts.googleapis.com/css?family=Bree+Serif);
@import url(https://fonts.googleapis.com/css?family=Open+Sans);


#contact {
  overflow: auto;
}
#contact #form {
  /* width:410px; */
  float:left;
}
#contact #form h2 {
  font: 48px 'Bree Serif', Georgia, serif;
}
#contact #form span {
  display:block;
  float:left;
  width:100px;
  padding-top:5px;
  font: 14px/16px'Bree Serif', Georgia, serif;
}
#contact #form input {
  float:left;
  width:228px;
  border:0px;
  color:#F1F1F1;
  padding:10px 10px 10px 30px;
  font: 11px/20px'Open Sans', Verdana, Helvetica, sans-serif;
  margin-bottom:10px;
}
#contact #form textarea {
  float:left;
  border:0px;
  width:228px;
  height:140px;
  padding:10px 10px 10px 30px;
  font: 11px/20px'Open Sans', Verdana, Helvetica, sans-serif;
  color:#F1F1F1;
  resize: none;
}
#contact #form input.name {
  background:rgb(55, 115, 125)  url(http://img7.uploadhouse.com/fileuploads/17737/177370145f09fe433945815665aa214f80dbc6af.png) no-repeat 10px 8px;
}
#contact #form input.email {
  background: rgb(55, 115, 125)  url(http://img6.uploadhouse.com/fileuploads/17737/177370138cc63992182149e9befabff3eafa6d23.png) no-repeat 10px 9px;
}
#contact #form input.captcha {
  background:rgb(55, 115, 125) url(http://img3.uploadhouse.com/fileuploads/17737/17737011310213e71805ecf2292144cbbecf42ad.png) no-repeat 10px 9px;
}
#contact #form textarea.message {
  background:rgb(55, 115, 125) url(http://img3.uploadhouse.com/fileuploads/17737/1773701229ed8c2f465a8274623ca8976adaf196.png) no-repeat 10px 8px;
}
#contact #form input.submit {
  cursor: pointer;
  width: 156px;
  height: 30px;
  float: right;
  padding: 0px 0px 5px 0px;
  margin: 10px 16px 0px 0px;
  background: rgb(55, 115, 125);
  color: #F1F1F1;
  font: 14px/16px'Bree Serif', Georgia, serif;
}
#contact #captcha span{
  width: 44px;
}
#contact #captcha input{
  background: url(http://img3.uploadhouse.com/fileuploads/17737/17737011310213e71805ecf2292144cbbecf42ad.png) no-repeat scroll 0 0 transparent;
  margin: 5px 0 0;
  padding: 0;
  border: medium none;
  cursor: pointer;
  width: 15px;
}