

/* for toggle behavior */

#sidebarch.active {
	margin-right: 0;
}
#sidebarch {
    margin-right: -41rem;
    z-index: 10;
}
#contentch.active {
	width: 100%;
	margin: 0;
}
 @media (max-width: 768px) {
	#sidebarch {
		margin-right: -40rem;
        z-index: 10;
	}
	#sidebarch.active {
		margin-right: 0;
	}
} 
.glassch {
	min-width: 17rem;
	width: 34rem;
	height:70vh; 
	position: fixed;
	top: 84px; 
	right: 0;
	box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.1);
	transition: all 0.4s;
    background-color: #fff;
    padding: 10px;
    font-size: 14px;

    
}
#btnchatbot {
    margin-bottom: -18px;
    position: fixed;
    bottom: 20%;
    right: 44px;
    height: 14px;
    width: 34px;
    z-index: 102;
    cursor: pointer;
  }
#chatbot {
    border-radius: 50%;
    width: 224%;
    height: 408%;
    background-color:#7b9ea4 ;
    font-weight: bold;
    border: 2px solid black;
    z-index: 104;
  }
  #chatbot:hover {
    background-color: #e4c1ad;
    font-weight: bold;
    border: 2px solid black;
  }

 .glassch {
    width: 410px;
    height: 741px;
    background-color: white;
    padding: 20px;
    border-radius: 15px;
    backdrop-filter: blur(27px);
    border: 2px solid rgba(255, 255, 255, 0.1);
    display: flex;
    flex-direction: column;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
} 

.chat {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.chat-log {
    flex-grow: 1;
    overflow-y: auto;
    margin-bottom: 20px;
    padding: 10px;
    display: flex;
    flex-direction: column;
}

/* Inverse l'ordre des messages */
.chat-log p {
    margin: 5px;
    padding: 10px 15px;
    border-radius: 20px;
    display: inline-block;
    max-width: 80%;
}

/* Messages de l'utilisateur */
.user {
    background: linear-gradient(122deg, #e4c1ad 0%, #568d96 25%, rgba(1, 1, 52, 0.8) 100%);
    color: white;
    border-radius: 20px 20px 0 20px;
    align-self: flex-end;
    margin: 2px;
    font-weight: bold;
}

/* Réponses du chatbot */
.bot {
    background-color:#dfd6d0 ;
    color: #333;
    border-radius: 20px 20px 20px 0;
    align-self: flex-start;
}


.input {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.input input {
    flex-grow: 1;
    margin-right: 10px;
    height: 40px;
    border-radius: 20px;
    border: 1px solid #ccc;
    padding: 0 15px;
}

.input button {
    padding: 10px 20px;
    border-radius: 20px;
    border: none;
    background-color:#568d96;
    color: white;
    cursor: pointer;
}

.input button:hover {
    background:linear-gradient(122deg, #e4c1ad 0%, #568d96 25%, rgba(1, 1, 52, 0.8) 100%);
}

.suggestions {
    display: flex;
    flex-wrap: wrap; /* Permet aux suggestions de passer à la ligne si nécessaire */
    justify-content: center;
    gap: 10px;
    padding: 10px 0;
    font-size: 20px;
}

.suggestions button {
    padding: 8px 16px;
    border-radius: 15px;
    border: none;
    background:linear-gradient(122deg, #e4c1ad 0%, #568d96 25%, rgba(1, 1, 52, 0.8) 100%);
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
    font-size: 1rem;
}

.suggestions button:hover {
    background:linear-gradient(122deg, #e4c1ad 0%, #568d96 25%, rgba(1, 1, 52, 0.8) 100%);
}
